# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# Notebooks
.ipynb_checkpoints/

# Dataset and models
dataset/
models/
runs/

# Development
Dockerfile
.dockerignore
.github/workflows/
tests/

# Environment variables
.env